body {
   background-image: url('bg-purpleringgradient.jpeg');
}

.container {
   position: absolute;
   color: #FFF;
   z-index: 100;
   text-align: center;
   font-family: 'falcon', sans-serif;
   font-size: 80px;
   text-shadow: 0 0 5px #C39EF2;
}

.container2 {
   position: absolute;
   padding: 0px;
   color: #d2bef9;
   z-index: 100;
   text-align: center;
   font-family: 'vcr osd mono', monotype;
   font-size: 20px;
   line-height: 65px;
   text-shadow: 0 0 5px #EDDEFF;
}

.container3 {
   position: absolute;
   padding: 0px;
   color: #FFF;
   z-index: 100;
   font-family: 'vcr osd mono', monotype;
   font-size: 10px;
   line-height: 12px;
   text-shadow: 0 0 5px #EDDEFF;
   text-align: center;
}

.navbar {
   text-shadow: 0 0 5px #d7beff;
}

img {
   max-width: 100%;
}

.image-container {
   position: absolute;
}