body {
   background-image: url('bg-limegradient.jpeg');
}

.container {
   position: absolute;
   color: #FFF;
   text-align: center;
   font-family: 'falcon', sans-serif;
   font-size: 70px;
   text-shadow: 0 0 5px white;
}

.container2 {
   width: 36ch;
   background: white;
   color: black;
   position: absolute;
   z-index: 50;
   font-size: 16px;
   border: ridge 4px #ACAC9F;
   font-family: 'vcr osd mono', monospace;
}

.video-container {
   width: 400px;
   height: 400px;
   position: absolute;
   box-shadow: 0 0 10px white;
   border: 2px #FFF;
}

video {
   width: 100%;
   height: auto;
}

.image-container {
   position: absolute;
   height: 0px;
   width: 0px;
   z-index: 105;
}

.navbar {
   text-shadow: 0 0 5px #FFF;
}