body {
   background-image: url('bg-bluegradient.png');
}

.image-container {
   position: absolute;
   display: flex;
   z-index: 2;
   color: #FFF;
   text-shadow: 0 0 5px white;
   font-family: 'vcr osd mono', monospace;
}

img.hoverable-image:hover {
   transform: scale(1.1);
   transition: transform 0.3s;
}

img {
   max-width: none;
   position: absolute;
}

.p {
   text-align: center;
   margin-top: 200%;
   margin-left: 80%
}

.container {
   position: absolute;
   color: #FFF;
   z-index: 100;
   font-family: 'yagiza', sans-serif;
   font-size: 60px;
   text-shadow: 0 0 5px white;
}

.text-container {
   position: absolute;
   z-index: 2;
   color: #FFF;
   z-index: 100;
   text-shadow: 0 0 5px white;
   font-family: 'vcr osd mono', monospace;
}

.rocking-image {
   animation: rock 3s ease-in-out infinite;
}

@keyframes rock {
   0% {
       transform: rotate(0deg);
   }
   50% {
       transform: rotate(10deg);
   }
   100% {
       transform: rotate(0deg);
   }
}

.side-tab {
   position: fixed;
   top: 7%;
   right: 0px;
   width: 150px;
   background-color: #ACAC9F;
   color: #FFF;
   text-align: left;
   padding: 2px;
   transition: left 0.3s ease-in-out;
   box-shadow: 0 0 5px #ACAC9F;
   text-shadow: 0 0 5px white;
   font-family: 'vcr osd mono', monospace;
   font-size: 12px;
   z-index: 2000;
}

.tab-handle {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 30px;
   background-color: #FFF;
   font-size: 16px;
   color: #ACAC9F;
   text-shadow: 0 0 5px #ACAC9F;

}

.tab-content {
   display: none;
}

.side-tab:hover {
   right: 0;
}
