body {
   background-image: url('bg-pinkstargradient.jpeg');
}

.image-container {
   position: relative;
   height: 0px;
   width: 0px;
   z-index: 101;
}

.button-link {
   text-decoration: none;
}

.button-link button {
   background-color: #ffcae4;
   color: #FFF;
   border: none;
   border-radius: 2.5px;
   font-family: 'vcr osd mono', monospace;
   font-size: 12px;
   box-shadow: 0 0 5px #ffcae4;
}

.container {
   position: absolute;
   padding: 0px;
   color: #FFF;
   z-index: 3;
   text-align: center;
   font-family: 'yerk', sans-serif;
   font-size: 70px;
   text-shadow: 0 0 5px #ffabd4;
   line-height: 65px;
}

table {
   border-collapse: separate;
   border-spacing: 20px;
   box-shadow: 0 0 10px #ffcae4;
   border-radius: 10px;
   overflow: hidden;
   background-color: #FFF;
   padding: 10px;
   font-family: 'vcr osd mono', monospace;
   color: #FFF;
   text-shadow: 0 0 5px #FFF;
   font-size: 12px;
   margin: auto;
   margin-top: 30vh;
}

.image-container {
   position: fixed;
   display: flex;
   z-index: 2;
   color: #FFF;
   text-shadow: 0 0 5px white;
   font-family: 'vcr osd mono', monospace;
}

th {
   border-radius: 10px;
   box-shadow: 0 0 5px #ffcae4;
   background-color: #ffabd4;
}

img {
   border-radius: 10px;
}

.navbar {
   text-shadow: 0 0 5px #ffabd4;
}