body {
   background-image: url('bg-yellowgradient.jpeg');
}

.container {
   position: absolute;
   padding: 0px;
   color: #fce390;
   z-index: 100;
   text-align: center;
   font-family: 'vcr osd mono', monospace;
   font-size: 24px;
   text-shadow: 0 0 5px #fce390;
   line-height: 25px;
   width: 20ch;
}

.container2 {
   position: absolute;
   padding: 0px;
   color: #fce390;
   z-index: 100;
   text-align: center;
   font-family: 'vcr osd mono', monospace;
   font-size: 24px;
   text-shadow: 0 0 5px #fce390;
   line-height: 25px;
}

.table {
   border-collapse: collapse;
}

#text {
   display: none;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 1;
}

.image-text {
   display: none;
   position: absolute;
   background: #FFF;
   border: 4px ridge #ACAC9F;
   padding: 1px;
   color: #000;
   z-index: 50;
   font-family: 'vcr osd mono', monospace;
}

.hidden {
 display: none;
}

.image-container {
 position: absolute;
 width: 300px;
 height: 300px;
}

.image-container img {
 position: absolute;
 z-index: 2;
}

.image-wrapper:hover .image-text {
   display: block;
}

.navbar {
   text-shadow: 0 0 5px #fce390;
}