body {
   background-image: url('bg-orangegradient.jpeg');
}

.container {
   position: relative;
   padding: 0px;
   color: #FFF;
   z-index: 100;
   text-align: center;
   font-family: 'yerk', sans-serif;
   font-size: 70px;
   text-shadow: 0 0 5px white;
   line-height: 65px;
}

.container2 {
   position: absolute;
   display: flex;
   color: #FFF;
   text-align: center;
   font-family: 'vcr osd mono', monospace;
   font-size: 16px;
   text-shadow: 0 0 5px white;
   width: 24ch;
   align-items: center;
}

 .navbar {
   text-shadow: 0 0 5px #FFF;
}

#slideshow {
   position: relative;
   max-width: 800px;
   margin: 0 auto;
}

.slide {
   display: none;
   text-align: center;
}

img {
   max-width: 100%;
}

.image-text {
   position: relative;
   padding: 0px;
   color: #FFF;
   z-index: 100;
   text-align: center;
   font-family: 'vcr osd mono', sans-serif;
   font-size: 24px;
   text-shadow: 0 0 5px white;
}