body {
   background-attachment: fixed;
   background-size: cover;
   background-repeat: no-repeat;
   flex-direction: column;
   align-items: center;
}
.navbar {
   position: fixed;
   height: 60px;
   width: 100%;
   padding: 1px;
   text-align: center;
   z-index: 1000;
}
 
.navbar a {
   display: inline-block;
   text-align: center;
   padding: 5px;
   font-size: 50px;
   transition: transform 0.3s;
}
 
.navbar a:hover {
   background-color: none;
   color: none;
   transform: scale(1.2);
}

header {
 height: 100px;
}

@font-face {
   font-family: 'VCR OSD Mono';
   src: url('path-to-your-font/vcr-osd-mono.ttf') format('truetype');
   font-family: 'Windows Command Prompt';
   src: url('path-to-your-font/windows_command_prompt.ttf') format('truetype');
   font-family: 'Arial Pixel';
   src: url('path-to-your-font/dish-arial-pixel.ttf') format('truetype');
   font-family: 'birchleaf';
   src: url('path-to-your-font/BirchLeaf.ttf') format('truetype');
   font-family: 'cooper bits';
   src: url('path-to-your-font/CooperBits.ttf') format('truetype');
   font-family: 'digital disco';
   src: url('path-to-your-font/DigitalDisco.ttf') format('truetype');
   font-family: 'alkhemikal';
   src: url('path-to-your-font/Alkhemikal.ttf') format('truetype');
   font-family: 'rocketpop';
   src: url('path-to-your-font/rocketpopbevel.otf') format('opentype');
   font-family: 'y2k analog';
   src: url('path-to-your-font/Y2K_analog_legacy_italic.ttf') format('truetype');
   font-family: 'yerk';
   src: url('path-to-your-font/Yerk-Regular.ttf') format('truetype');
   font-family: 'kilo';
   src: url('path-to-your-font/Kilo.otf') format('opentype');
   font-family: 'yagiza';
   src: url('path-to-your-font/YAGIZA__.TTF') format('truetype');
   font-family: 'ghosteen';
   src: url('path-to-your-font/Ghosteen.otf') format('opentype');
   font-family: 'nethunt';
   src: url('path-to-your-font/NetHunt.ttf') format('truetype');
   font-family: 'Fenotype';
   src: url('path-to-your-font/02-10-fenotype.ttf') format('truetype');
   font-family: 'Digifit';
   src: url('path-to-your-font/DIGIFIT.TTF') format('truetype');
   font-family: 'Digistick';
   src: url('path-to-your-font/Digistick-Regular.ttf') format('truetype');
}