body {
   color: black;
   letter-spacing: 0cm;
   padding: ;
   margin: ;
   border-width: 1px;
   font-family: 'Times New Roman', Times, serif;
   font-size: 17px;
   background-color: #ACAC9F;
   background-image: url("nyc-pixel.gif");
   background-repeat: none;
   background-size: 100%;
}

article {
   color:#90867C;
   margin: 3cm;
}

footer {
   font-size: ;
   font-style: ;
   background: ;
   padding: ;
}

header {
   font-size: ;
   font-weight: ;
   text-align: center;
   background: ;
   color: ;
   border: ;
   margin: ;
   padding: ;
   background-color: none; /* Background color for the header */
   color: #fff; /* Text color */
   padding: 0px; /* Padding around the content in the header */
}

.header-box {
   max-width: 1200px; /* Set a maximum width for the header box */
   margin: 0 auto; /* Center the header box horizontally */
   display: flex; /* Use flexbox to arrange the content */
   justify-content: none; /* Space between logo and navigation */
   align-items: right;
}

h1 {
   font-size: 24px; /* Font size for the logo */
}

/* Style for the container div to control scrolling */
.table-container {
   max-height: 500px; /* Set the maximum height for scrolling */
   overflow-y: auto; /* Enable vertical scrolling */
}

./* Style the button link */
.button-link {
text-decoration: none; /* Remove underlines from the link */
}

/* Style the button */
.button-link button {
   background-color: #DE4096; /* Background color */
   color: #000; /* Text color */
   border: auto; /* Remove button border */
   border-radius: 2.5px; /* Rounded corners */
   cursor: pointer; /* Change cursor on hover */
   font-family: cursive;
   font-weight: bold;
}

/* Hover effect */
.button-link button:hover {
   background-color: #B3347A; /* Change background color on hover */
}

/* Add a shadow to the text */
.text-with-shadow {
   text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* horizontal-offset vertical-offset blur-radius color */
}